<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>Welcome to {{ title }}!</h1>
	<br />
	<!-- <button type="button" (click)="decode(title);">Decode</button> -->

</div>

<router-outlet></router-outlet>
