<div class="container">
	<div class="alert alert-info">
		Username: admin<br />
		Password: dhladmin
	</div>
	<h2>Login</h2>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="username">Username</label>
			<input
				type="text"
				formControlName="username"
				class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.username.errors }"
			/>
			<div class="invalid-feedback" *ngIf="submitted && f.username.errors">
				<div *ngIf="f.username.errors.required">Username is required</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input
				type="password"
				formControlName="password"
				class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.password.errors }"
			/>
			<div class="invalid-feedback" *ngIf="submitted && f.password.errors">
				<div *ngIf="f.password.errors.required">Password is required</div>
			</div>
		</div>
		<div class="form-group">
			<button [disabled]="loading" class="btn btn-primary">Login</button>
		</div>
		<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
	</form>
</div>
