<div class="container">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr><th colspan="2">View Address</th></tr>
		</thead>
		<tbody>
			<tr>
				<td>Company</td>
				<td>value</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>value</td>
			</tr>
			<tr>
				<td>Address 1</td>
				<td>value</td>
			</tr>
			<tr>
				<td>Address 2</td>
				<td>value</td>
			</tr>
			<tr>
				<td>Address 3</td>
				<td>value</td>
			</tr>
		</tbody>
	</table>
</div>
