/*

.addressTable {
	width: 100%;
	height: auto;
	border: 1px solid #aaa;
	padding: 15px;
	margin: 5px;
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 17px;
} .addressTable, th {
	border: 3px groove rgb(143, 143, 143);
	text-align: center;
	color: #345c63
} .addressTable, td {
	height: 25px;
	border: 0;
	margin: 5px;
	padding-top: 10px;
	line-height: 24px;
}

 */
